@import '../../styles/variables';

.site-header {
  background: $pale-cyan;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 375px;

  padding: $small-spacing $small-spacing;

  &__logo {
    img {
      width: 100px;
    }
  }
}