@import '../../styles/variables';

#hero-bg-image {
  background-position-y: -60px;
}
.hero {
  &__container {
    // max-width: $mobile-width;
    display: flex;
    justify-content: center;
    background-color: $pale-cyan;
    padding-bottom: 2rem;
    &--inner {
      padding: $small-h;
      max-width: $mobile-width;
    }
  }
  &__image {
    &--image {
      width: 100%;
    }
  }
  &__button--container {
    margin: map-get($map: $spacers, $key: 3) auto map-get($map: $spacers, $key: 5) ;
  }
}