<section class=" hero__container">
  <div class="flex-container hero__container--inner"
       id="hero-bg-image">
    <div class="cell one-half">
      <h1 class="text-center">
        Build The Community Your Fans Will Love
      </h1>

      <p class="lead">
        Huddle re-imagines the way we build communities. You have a voice, but so does your audience.
        Create connections with your users as you engage in genuine discussion.
      </p>
      <div class="hero__button--container">
        <div class="button button__primary">
          Get Started For Free
        </div>
      </div>
    </div>
    <div class="cell one-half hero__image">
      <img class="hero__image--image"
           src="/assets/images/illustration-mockups.svg" />
    </div>
  </div>
</section>