<section class="container" id="hero-container">
    <div class="flex-container">
      <div class="cell one-half">
        <h1>
          Build The Community Your Fans Will Love
        </h1>

        <p class="lead">
          Huddle re-imagines the way we build communities. You have a voice, but so does your audience.
          Create connections with your users as you engage in genuine discussion.
        </p>

        <div class="button button-primary">
          Get Started For Free
        </div>
      </div>
      <div class="cell one-half">
        <img id="hero-image" src="/assets/images/illustration-mockups.svg" />
      </div>
    </div>
  </section>