/**
-----------------
Table of Contents
-----------------
  #Imports
  #Colors
  #Breakpoints
  #Typography
  #Flex
  #Shadows
  #Spacing
**/

// #Imports
// @import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600';

// #Colors
$pink: hsl(322, 100%, 66%);
$pale-cyan: hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

// #Breakpoints
$mobile-width: 375px;
$desktop-width: 1140px;

// #Typography
$font-size: 12px;
$font-size-desktop: 18px;
$font-family: 'Open Sans', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;

$font-family-headings: 'Poppins', sans-serif;
$font-weight-headings: 600;

$line-height: 1.75;

// #Flex
$one-fourth: 25%;
$one-third: 33.333%;
$one-half: 50%;
$three-fourths: 75%;

// #Shadows
$card-shadow: 0 19px 12px rgba(0, 0, 0, 0.03), 0 3px 12px rgba(0, 0, 0, 0.03), 0 -8px 9px rgba(0, 0, 0, .03);

// #Spacing
$small: 20px;
$large: 40px;
$small-h: 0 20px;
$small-v: 20px 0;
$large-h: 0 40px;
$large-v: 40px 0;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  2-5: ($spacer * .75),
  3: ($spacer),
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 3.5),
  7: ($spacer * 4),
  8: ($spacer * 4.5),
  9: ($spacer * 5),
  10: ($spacer * 5.5)
), $spacers);