@import '../styles/variables';

.button {
  border-radius: 50px;
  font-weight: $font-weight-bold;
  font-size: 1.25em;
  text-align: center;
  padding: map-get($map: $spacers, $key: 2-5) map-get($map: $spacers, $key: 8);
  &__primary {
    background: $pink;
    box-shadow: 2px 2px 8px 0px rgba($pink, .3);
    color: white;
  }
}