.card {
  padding: 2rem;
  border-radius: 20px;
  box-shadow: $card-shadow;
  margin-top: map-get($map: $spacers, $key: 5);
  margin-bottom: 2.75em;

  &__image {
    padding: 4rem 1.5rem;
    width: 100%;
    &img {
      width: 100%;
    }
  }

  &__title, &__body {
    text-align: center;
  }

  &__title {
    font-size: 1.35rem;
    margin: 1rem 0 0.5rem 0;
  }

  &__body {
    color: $grayish-blue;
    padding: 0 .75rem;
  }
}