.flex-container, .cell {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cell.row {
  flex-direction: row;
}

@media screen and (min-width: $desktop-width) {
  .flex-container {
    flex-direction: row;
    width: 100%;
  }

  .one-fourth {
    width: $one-fourth;
  }

  .one-third {
    width: $one-third;
  }

  .one-half {
    width: $one-half;
  }

  .three-fourth {
    width: $three-fourth;
  }
}