html, body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  line-height: $line-height;
}

strong, .text-bold {
  font-weight: $font-weight-bold;
}

h1, h2, h3, h4, h5, h6, .section-heading {
  font-family: $font-family-headings;
  font-weight: $font-weight-headings;
}