@import './styles/variables';
@import './styles/utilities/utilities';

@import './styles/flex';
@import './styles/typography.scss';
@import './styles/buttons.scss';
@import './styles/cards.scss';

* { box-sizing: border-box; }

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-cyan;
  background: #333; // So I can see where the design ends
}

.content-wrapper {
  // max-width: 375px;
  background: white; // So I can see where the design starts
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.w-100 {
  width: 100%;
}

@media screen and (min-width: $desktop-width) {
  .container { max-width: $desktop-width; }
}