@import './styles/variables';

@import './styles/flex';
@import './styles/typography.scss';
@import './styles/cards.scss';

* { box-sizing: border-box; }

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333; // So I can see where the design ends
}

.content-wrapper {
  max-width: 375px;
  background: white; // So I can see where the design starts
}

.container {
  padding-left: 40px;
  padding-right: 40px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.w-100 {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .container { max-width: 750px; }
}